[submodule "api"]
	path = api
	url = https://github.com/winget-run/api
[submodule "web"]
	path = web
	url = https://github.com/winget-run/web
[submodule "updater"]
	path = updater
	url = https://github.com/winget-run/updater
[submodule "transformer"]
	path = transformer
	url = https://github.com/winget-run/transformer
[submodule "devops"]
	path = devops
	url = https://github.com/winget-run/devops
